@import "tailwindcss"; 
body {
  background-color: #0F0F1A; 
  color: #E2E2F4;
  @apply max-md:text-[14px] text-base;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.base{
  background-color:#9f5df0;
}
.base2{
  background-color:#4a4080;
}
.textbase{
  color:#A48FFF;
}
.textbase2{
  color:#e4dfff;
}
.accent{
  background-color:#89dceb;
}
.card{ 
  background-color: #1A1A2E;
}
@keyframes pulseShimmer {
  from {
    background-position: -1000px;
  }
  to {
     background-position: 1000px;
  }
}

.buttonbg{
  @apply text-white px-4 py-2 transition-all duration-500 rounded-full bg-gradient-to-br  from-[#9f5df0] font-medium to-[#6E56CF];
  box-shadow: inset -12px -3px 20px 2px #00000021, 0 8px 10px -6px rgb(0 0 0 / 0.1) ;
}
.buttongreen{
  @apply text-white px-4 py-2 transition-all duration-500 rounded-full bg-gradient-to-br  from-[#07f733] font-medium to-[#02970e];
  box-shadow: inset -12px -3px 20px 2px #00000021, 0 8px 10px -6px rgb(0 0 0 / 0.1) ;
}
.buttonred{
  @apply text-white px-4 py-2 transition-all duration-500 rounded-full font-medium bg-gradient-to-br  from-pink-600  to-red-500;
  box-shadow: inset -12px -3px 20px 2px #00000021, 0 8px 10px -6px rgb(0 0 0 / 0.1) ;
}
.buttonbg:hover{
  @apply   text-white px-4 py-2 rounded-full bg-gradient-to-br  from-[#6E56CF] font-medium to-[#9f5df0];
  box-shadow: inset -12px -3px 20px 2px #00000021, 0 8px 10px -6px rgb(0 0 0 / 0.1) ;
}

/* .buttonred{
  @apply bg-gradient-to-br from-[#ea747e] font-medium to-[#ff0000];
  box-shadow: inset -12px -3px 20px 2px #00000021, 0 8px 10px -6px rgb(0 0 0 / 0.1) ;
} */
.bordercolor{
  @apply border border-[#b5b5c2];
}
input , select, textarea {
  @apply border border-[#b5b5c246] shadow-2xl outline-none bg-[#ffffff14] rounded-xl px-3 py-2;
  transition: all 0.3s ease-in-out;
}
.appear {
  animation: appear 0.4s ease-in-out forwards;
}
@keyframes appear {
  0% {
    transform: translateX(150px);
    scale: 0;
  } 
  100% {
    scale: 1;
    transform: translateX(-120px) translateY(100px);

  } 
}

button:hover , a:hover{
  scale: 0.99;
  /* transition: all 0.1s ease-in-out; */
}
.buttonnone:hover {
  scale: 1;
}
.textshadow{
  text-shadow: -2px 1px 20px #ffffff;
}

.popupOpen{
  animation: popupOpen 0.8s ease-in-out ;

}

@keyframes popupOpen {
  0% {
    transform: translateY(-50px);
    /* opacity: 0; */
    transform: translate3d(0, -50px, 0);
    scale: 0.9;
  }
  50% {
      transform: translateY(20px);
      /* opacity: 0.5; */
      transform: translate3d(0, 20px, 0);
      scale: 1.05;
    }
  100% {
    transform: translateY(0);
    /* opacity: 1; */
    transform: translate3d(0, 0, 0);
    scale: 1;
  }
}
 
.customclass {
  background-color: #0000000a !important;
  backdrop-filter: blur(50px) !important;
  border-color: #4e56f3a8 !important;
  border-radius: 20px !important;
  overflow: hidden !important ;
}
.react-datepicker__header {
  background-color: #ffffff2c !important;
  backdrop-filter: blur(20px) !important;
  color: #ffffff !important;
  border-color: #6a71f3 !important;
}
.react-datepicker__day {
  color: #967b7b !important;
}
.react-datepicker__current-month{ 
  color: #6a71f3 !important;
}
.react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range{
  background-color: #6573ef !important;
  color: #ffffff !important;
}
.react-datepicker__day-name{
  color: #ffffff !important;
} 

 @keyframes expand {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    100% {
      transform: translate(-50%, -50%) scale(200);
    }
  }

  .animate-expand {
    animation: expand 0.8s ease-out forwards;
  }

/* .react-datepicker__time-list-item,.react-datepicker__time-list,.react-datepicker__time-box,.react-datepicker__time {  
  background-color: #ffffff1c !important;
  backdrop-filter: blur(20px) !important;
  border-color: #6a71f3 !important;
} */
.react-datepicker__header, .react-datepicker__header--time ,.react-datepicker__header--time--only ,.react-datepicker__time-list-item  {  
 background-color: #0000000a !important;
  backdrop-filter: blur(50px) !important;
  border-color: #4e56f3a8 !important;
}